
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
    
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
    
  /* tr { border: 1px solid #ccc; } */

  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }

  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
}

a.btn {
  display:inline-block;
  padding:0.35em 1.2em;
  border-radius: 2rem;
  margin:0 35%;
  margin-bottom: 5%;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  background-color: #eda550;
  color:#FFFFFF !important;
  text-align:center;
  transition: all 0.2s;
}

@media 
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
      a.btn {
        margin:0 25%;
        margin-bottom: 5%;
      }
}

.btn:hover{
  color:#eda550 !important;
  background-color:#FFFFFF;
  border:0.2em solid #eda550;
}

lite-youtube {
  margin: 2rem auto;
}

@media 
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
      .iframe-container iframe {
        height: 195px;
      }
}

p img {
  width: 100% !important;
}

h1, h2, h3, p, li{
  text-align: start;
}